.footer {
  background: #f8f8f8;
  border-top: 1px solid #aaaaaa;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
  position: sticky;
  bottom: 0;
}

.home-icon {
  display: inline-block;
  background: url(../../../assets/images/home.png) center no-repeat;
  background-size: 20px;
  width: 20px;
  height: 20px;
}

.search-icon {
  display: inline-block;
  background: url(../../../assets/images/search.png) center no-repeat;
  background-size: 20px;
  width: 20px;
  height: 20px;
}

.feed-icon {
  display: inline-block;
  background: url(../../../assets/images/plus.png) center no-repeat;
  background-size: 20px;
  width: 20px;
  height: 20px;
}

.noti-icon {
  display: inline-block;
  background: url(../../../assets/images/love.png) center no-repeat;
  background-size: 20px;
  width: 20px;
  height: 20px;
}

.user-icon {
  display: inline-block;
  background: url(../../../assets/images/user.png) center no-repeat;
  background-size: 20px;
  width: 20px;
  height: 20px;
}
